<%= render Polaris::BaseComponent.new(**@system_arguments) do %>
  <div class="Polaris-Modal-Dialog__Modal">
    <div class="Polaris-Modal-Header">
      <% if @title.present? %>
        <div class="Polaris-Modal-Header__Title">
          <%= polaris_display_text(element: :h2, size: :small) { @title } %>
        </div>
      <% end %>

      <%= close_button %>
    </div>

    <%= form_with(@form_options) if form? %>

    <div class="Polaris-Modal__BodyWrapper">
      <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
        <section class="Polaris-Modal-Section">
          <%= content %>
        </section>
      </div>
    </div>

    <% if render_footer? %>
      <div class="Polaris-Modal-Footer">
        <div class="Polaris-Modal-Footer__FooterContent">
          <%= polaris_stack(alignment: :center) do |stack| %>
            <% stack.item(fill: true) do %>
              <%= polaris_button_group do |group| %>
                <% secondary_actions.each do |action| %>
                  <% group.item do %>
                    <%= action %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <% stack.item do %>
              <%= polaris_button_group do |group| %>
                <% actions.each do |action| %>
                  <% group.item do %>
                    <%= action %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= "</form>".html_safe if form? %>
  </div>
<% end %>
